@import "../1-base/colors";
@import "../1-base/sizes";


.accordion {
    width: 100%;
    border: none;
    display: flex;
    gap: $spacer-sm;
    flex-direction: column;
    cursor: pointer;
    padding: $p-xxl;
    border-radius: $br-lg;
    margin-bottom: $spacer-md;
    text-align: start;
    transition: ease-in-out 300ms;

    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    &--is-closed {
        background-color: transparent;

        .material-symbols-rounded {
            color: $primary-500;
        }

        &:hover {
            opacity: .8;
        }
    }

    &--is-open {
        background-color: $neutrals-100;

        .material-symbols-rounded {
            color: $text-500;
            }

        &:hover {
            background-color: $neutrals-300;
        }

    }
}


.accordion__content {
    display: none; /* Esconde o conteúdo por padrão */
  }
  
  .accordion--is-open .accordion__content {
    display: block; /* Exibe o conteúdo do acordeão aberto */
  }