@import "../1-base/colors";
@import "../1-base/sizes";


// Mixin => hover
@mixin button-hover($color: null) {
    opacity: 0.7;
    transition: ease-out 0.2s;

    @if $color {
        color: $color;
    }
}

.button {
    display: block;
    text-decoration: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    white-space: nowrap;
    line-height: 1;
    font-family: inherit;
    width: fit-content;
    border-radius: 10px;
    font-weight: 600;
    text-transform: initial;
    transition: ease-out 0.2s;

    &--full {
        width: 100%;
    }

    &--lg {
        font-size: 1rem;
        padding: 1rem 1.5rem;
    }

    &--md {
        border-radius: 0.5rem;
        font-size: 0.875rem;
        padding: 0.875rem 1.25rem;
    }


    &--link {
        color: $text-400;
        font-size: 0.875rem;
        font-weight: 400;
        padding: 0.75rem 1rem;
        transition: none;

        &:hover {
            background-color: $neutrals-100;
            color: $text-500;
        }
    }

    &--primary {
        background-color: $primary-500;
        color: $bg-color;

        &:hover {
            @include button-hover();
        }
    }


    &--secondary {
        border: 0.063rem solid $text-500;
        color: $text-500;

        &:hover {
            @include button-hover();
        }
    }

    &--tertiary {
        color: $text-500;

        &:hover {
            @include button-hover();
            text-decoration: underline;
        }
    }
}

.link {
    color: $secondary-400;
    font-weight: bold;
    text-decoration: none;
    font-size: 0.875rem;

    &:hover {
        @include button-hover($secondary-500);
    }
}

.tab {
    display: block;
    font-size: 0.875rem;
    padding: .8rem 1.25rem;
    border-radius: 0.625rem;
    border: 0.063rem solid $neutrals-500;
    color: $text-400;

    &--is-active {
   
        color: $text-500;
        border-color: $secondary-400;
        background-color: $neutrals-100;
}

    &:hover {
        border-color: $secondary-400;
    }

   
}