@import "../1-base/colors";
@import "../1-base/sizes";



.input__field {
    background-color: transparent;
    padding: $p-md $p-lg;
    border: 1px solid $neutrals-600;
    border-radius: $br-sm;
    transition: border-color 0.3s ease;
    color: $text-500;

    &:hover {
        border-color: $primary-300;
    }

    &:focus {
        background-color: $neutrals-100;
        border-color: $primary-500;
        outline: none;
    }

    &:disabled {
        border-color: $text-200;
        background-color: $neutrals-500;
        cursor: not-allowed;
        opacity: 0.6;
    }

    &::placeholder {
        color: $text-200;
    }
}