@import "../1-base/colors";
@import "../1-base/sizes";
@import "../3-modules/buttons";

.blog-fixed {


    &__articles {
        display: flex;
        gap: 16px;
        justify-content: space-between;

        &__item {
            width: 284px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

            p, h3 {
                @include truncate(2);
                margin-top: .2em;
            }
            &__img {
                width: 100%;
                border-radius: $br-md;
                margin-bottom: .8em;
            }
        }
    }
}

.title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
}