@import "../1-base/colors";
@import "../1-base/sizes";
@import "../3-modules/buttons";

.blog-fixed {


    &__articles {
        display: flex;
        gap: 16px;
        justify-content: space-between;

        &__item {
            width: 284px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            &__img {
                width: 100%;
                border-radius: $br-md;
            }
        }
    }
}

.title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
}