@import "../1-base/colors";
@import "../1-base/sizes";
@import "../3-modules/buttons";

.coupons {


    &__title {
        text-align: center;
        margin-bottom: $spacer-xxl;
    }


    &__combos,
    &__discount {
        display: flex;
        gap: 32px 16px;
        justify-content: center;
        margin-bottom: $spacer-xxl;
        height: 100%;
        flex-wrap: wrap;


        &__item {
            text-align: center;

        }
    }
}

.coupons__combos__item {
    padding: 32px 16px;
    width: 227px;
    min-width: 227px;
    background-color: $secondary-50;
    border-radius: $br-lg;
}

.combo {
    h3 {
        margin: 14px 0;
    }

    &__description {
        font-size: 14px;
        line-height: 130%;
    }

    &__includes {

        b {
            color: $text-300;
        }

        color: $text-300;
        display: block;
        line-height: 144%;
        margin-top: 14px;
    }
}

.coupons__discount__item {
    background-color: $primary-50;
    padding: 32px;
    width: 174px;
    min-width: 174px;
    border-radius: $br-lg;
}

.coupon {
    h3 {
        margin: 14px 0;
        line-height: 120%;
    }

    &__description {
        color: $text-300;
        line-height: 120%;
    }
}