@import "../1-base/colors";
@import "../1-base/sizes";
@import "../3-modules/buttons";

.extreme {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 60px;

    &__img {
       
height: 100%;
        img {
            object-fit: cover;
            object-position: center;
            border-radius: $br-xl;
        }
    }

    &__content {
        max-width: 44%;
    }

    &__title {
        margin-bottom: 16px;
    }

    &__description {
        margin-bottom: 24px;
        line-height: 140%;
    }

    &__list {
        margin-bottom: 24px;
        &__item {
            display: inline-list-item;
            margin-bottom: 16px;
            line-height: 160%;

            img {
                margin-right: 8px;
            }
        }
    }
}