@import "../1-base/colors";
@import "../1-base/sizes";
@import "../3-modules/buttons";

.extreme {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 48px;

    @media (max-width: $breakpoint-md) {
        flex-direction: column;
    }

    &__image {
        display: flex;
        flex: 1;
        align-items: flex-start;
        padding-right: 32px;

        img {
            border-radius: $br-md;
            max-height: 100%;
            /* Limita a altura da imagem à altura do container */
            object-fit: cover;
            /* Garante que a imagem se ajuste */
            display: block;
        }
    }

    &__content {
        flex: 1;
    }

    &__title {
        margin-bottom: 12px;
    }

    &__description {
        margin-bottom: 32px;
        line-height: 1.6;

    }

    &__list {
        margin-bottom: 32px;

        &__item {
            margin-bottom: 16px;
            line-height: 1.6;

            img {
                margin-right: 8px;
            }
        }
    }
}