@import "../1-base/colors";
@import "../1-base/sizes";
@import "../3-modules/buttons";

.faq {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 48px;
     
        @media (max-width: $breakpoint-md) {
         flex-direction: column;
         align-items: center;
     }
     

    &__content, &__accordion {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    &__content {
        &__message {
            display: flex;
            flex-direction: column;
            gap: 12px;
            max-width: 80%;
        }
    }
}