@import "../1-base/colors";
@import "../1-base/sizes";
@import "../3-modules/buttons";

.faq {
    display: flex;
    justify-content: space-between;


    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
}

&__message {
    display: flex;
    flex-direction: column;

    &__input {
        margin-bottom: 12px;
    }
}
}