@import "../1-base/colors";
@import "../1-base/sizes";
@import "../3-modules/buttons";

.faq {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 48px;

    &__content, &__accordion {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    &__content {
        &__message {
            display: flex;
            flex-direction: column;
            gap: 24px;
        }
    }
}