@import "../1-base/typography";
@import "../1-base/colors";
@import "../1-base/sizes";
@import "../3-modules/buttons";


.header {
    
    padding-top: 16px;

    &__nav-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: $spacer-sm;

      

        &__links {
            display: flex;
            gap: $spacer-xs;

            @media (max-width: 460px) {
                display: none;
            }
        }
    }

    &__nav-bottom {
        display: flex;
        justify-content: start;
        gap: $spacer-sm;

        @media (max-width: 708px) {
            display: none;
        }

        &__links {
            display: flex;
            gap: 0;
        }
    }
}