@import "../1-base/typography";
@import "../1-base/colors";
@import "../1-base/sizes";
@import "../3-modules/buttons";
@import "../2-layout/breakpoints";

.header {
    padding: 1em;
    transition: all 0.3s ease-in-out;
    background-color: white;


    &.scrolled {
        position: fixed;
        width: 100%;
        z-index: 9;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
    }


    &__mobile button {
        background-color: transparent;
        padding: 0.5em;
        cursor: pointer;
        border: none;
        display: none;

        @media (max-width: $breakpoint-md) {
            display: block;
        }
    }

    &__nav-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        max-width: 1250px;
        margin-bottom: $spacer-xs;

        &__links {
            display: flex;
            gap: $spacer-xs;
            align-items: center;

            ul {
                @media (max-width: $breakpoint-md) {
                    display: none;
                }
            }
        }
    }

    &__nav-bottom {
        margin: 0 auto;
        max-width: 1250px;
        display: flex;
        justify-content: start;
        gap: $spacer-sm;

        @media (max-width: $breakpoint-md) {
            display: none;
        }

        &__links {
            display: flex;
            gap: 0;
        }
    }
}

.nav__mobile {
    display: none;
    height: 100vh;
    background-color: white;
    position: absolute;
    width: 30vh;
    padding: 2em;
    left: 0;
    z-index: 3;

    ul {
        display: flex;
        flex-direction: column;
        gap: 0.8em;
    }

    &.open {
        display: block; // Mostra o menu quando a classe .open é adicionada
    }

    @media (max-width: $breakpoint-md) {
        display: none;

        &.open {
            display: block;
        }
    }
}

ul.nav__mobile__buttons {
    margin-top: 2.5em;
    border-top: 1px solid $neutrals-500;

    :nth-child(1) {
        padding-top: .8rem;
    }
}

