@import "../1-base/sizes";
@import "../1-base/typography";

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__text {}

    &__title {
        margin-bottom: 24px;
    }

    &__subtitle {
        margin-bottom: 16px;
    }

    &__insurance {
        display: flex;
        align-items: center;
        margin: 24px 0;

        .material-symbols-rounded {
            font-size: 48px;
            color: $text-300;
            padding-right: 8px;
            font-variation-settings: 
            'FILL' 1
        }


        &__text {
            color: $text-300;
        }


    }

    &__benefit {
        margin-bottom: 12px;
    }

    &__cta {
        display: flex;
        gap: 16px;
        margin-top: 24px;
    }

}



.hero__img {

    .img-1 {
        max-width: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 24px;
        margin-left: 56px;
    }
}