@import "../1-base/sizes";
@import "../1-base/typography";

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 48px;

    &__title {
        margin-bottom: 16px;
        @include text-style('heading-1');

        &--color {
            color: $primary-400;
        }
    }

    &__subtitle {
        color: $text-400;
    }

    &__insurance {
        display: flex;
        align-items: center;
        margin: 32px 0;

        .material-symbols-rounded {
            font-size: 44px;
            color: $neutrals-900;
            padding-right: 4px;
            font-variation-settings:
                'FILL'1
        }

    }

    &__benefit {
        @include text-style('heading-4');
        margin-bottom: 12px;
        font-weight: 500;
    }

    &__cta {
        display: flex;
        gap: 16px;
        margin-top: 24px;
    }

    &__img {
        img {
            max-width: 100%;
            border-radius: 24px;
            height: auto;
            display: block;
        }
    
        span {
            display: block;
            text-align: end;
            margin-top: 16px;
        }
    }

}
