@import "../1-base/sizes";
@import "../1-base/colors";
@import "../1-base/typography";
@import "../2-layout/breakpoints";
@import "../3-modules/inputs";

.container-test {
  max-width: 1250px;
  margin: 0 auto;
  width: 100%;
}

.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 74vh;
  gap: 48px;
}

.hero-content {
  flex: 1;
  z-index: 1;
  padding-right: 20px;
  max-width: 80vh;
}

.hero__title {
  margin-bottom: 12px;
  font-size: 2.8rem;
  line-height: 1.2;

  span {
    color: $primary-500;
  }
}

.hero-list > ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 20px 0;
}

/* Hero Image e Formulário */
.hero-image {
  position: relative;
  width: 70vw;
  height: 100%;
  overflow: hidden;
  z-index: 0;
  margin-right: calc(50% - 50vw);
}

.hero-image img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.form-overlay {
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.99);
  padding: 20px;
  border-radius: 8px;
  max-width: 350px;
  width: 80%;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.form__label {
  display: block;
  margin-bottom: 5px;
  color: $text-400;
}

.form__cta {
  width: 100%;
}

/* Responsividade */
@media (max-width: 1024px) {
  .hero {
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 40px 20px;
  }

  .hero-content {
    width: 100%;
    padding-right: 0;
    text-align: center;
    margin-bottom: 20px;
  }

  .hero-image {
    width: 100%;
    height: auto;
    order: -1;
  }

  .form-overlay {
    top: auto;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
  }
}

@media (max-width: 768px) {
  .form-overlay {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
  }

  .hero-content h1 {
    font-size: 1.5em;
  }

  .hero-content p {
    font-size: 1em;
  }

  .hero {
    text-align: center;
    padding: 20px;
  }

  .hero-content {
    padding-right: 0;
    max-width: 100vh;
  }

  .hero-list > ul {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}
