@import "../1-base/sizes";
@import "../3-modules/buttons";

.services {
    &__menu {
        display: flex;
        flex-direction: row;
        gap: $p-md;
        margin-bottom: $spacer-lg;
        flex-wrap: wrap;
        

        img {
            margin-right: $p-sm;
        }

        .services__menu-item {
            display: flex;
            align-items: center;
        }
    }

    &__item {
        margin-bottom: $spacer-lg;
        display: none;

        &--is-active {
            display: block;
        }

        &__title {
            margin-bottom: $spacer-sm;
        }

        &__included {
        @include truncate(2);
        &.expanded {
            display: block;
            -webkit-box-orient: vertical;

          }
        }
        

        &__text,
        &__included {
            margin-bottom: $spacer-sm;
            max-width: 75%;

            @media (max-width: $breakpoint-sm) {
               max-width: 100%;
            }

            a {
                margin-left: $p-sm;
            }
        }

        &__included {
            p {
                max-width: 80%;
            }
        }
    }
}