@import "../1-base/typography";
@import "../1-base/colors";
@import "../1-base/sizes";
@import "../2-layout/breakpoints";
@import "../3-modules/buttons";

.testimonials {
    background-color: $neutrals-100;
    padding: 48px 0;
}

.testimonials__title {
    display: flex;
    align-items: end;
    gap: 24px;
    justify-content: space-between;
    flex-wrap: wrap
}

.testimonials__cards {
    display: flex;
    gap: 32px;
    overflow: auto;
    margin-bottom: 32px;
    height: 490px;

    &__item {
        height: 460px;
        min-width: 306px;
        border: 1px solid $neutrals-500;
    }
}

.testimonials__footer {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.testimonials__navigation {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-left: 16px;
}

.testimonials__footer__brands {
display: flex;
flex-wrap: wrap;
gap: 24px;
align-items: center;
}

.testimonials__footer__text {
    display: flex;
    flex-direction: column;
}


