@import "../1-base/typography";
@import "../1-base/colors";
@import "../1-base/sizes";
@import "../3-modules/buttons";

.testimonials {
    background-color: $neutrals-100;
    padding: 76px 214px;
}

.testimonials__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.testimonials__cards {
    display: flex;
    gap: 32px;
    overflow: auto;
    margin-bottom: 32px;
    height: 490px;


    &__item {
        height: 460px;
        min-width: 306px;
        border: 1px solid $neutrals-500;
    }
}

.testimonials__navigation {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    align-items: center;
}