@import "../1-base/colors";
@import "../1-base/sizes";
@import "../1-base/sizes";
@import "../2-layout/breakpoints";
@import "../3-modules/buttons";

.why-choose {
    display: flex;
    gap: 48px;
    justify-content: space-between;
    align-items: stretch;
    height: 680px;

    @media (max-width: $breakpoint-md) {
        flex-direction: column;
    }

    &__accordion {
        min-width: 320px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1;

        h2 {
            margin-bottom: 1.4em;
        }
    }

    &__carousel {
        overflow: hidden;
        display: flex;
        flex: 1;
        border-radius: $br-md;
        height: 94%;
        


        &__images {
            display: flex;
            transition: transform 0.5s ease-in-out;


            img {
                width: 100%;
                height: auto;
                flex-shrink: 0;
                object-fit: cover;
            }

        }
    }
}