@import "../1-base/colors";
@import "../1-base/sizes";
@import "../1-base/sizes";
@import "../2-layout/breakpoints";
@import "../3-modules/buttons";

.why-choose {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;

    
    @media (max-width: $breakpoint-lg) {
        flex-wrap: wrap;
    }
}


.why-choose__img {

    max-width: 526.97px;
    height: 574px;
    border-radius: 24px;
.img-1 {
    display: block;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: $br-xxl;
}
 
}

.why-choose__accordion {
    width: 540px;
}

.why-choose__accordion__item {

    border: none;
    display: flex;
    gap: $spacer-sm;
    flex-direction: column;
    align-items: flex-start;
    cursor: pointer;
    padding: $p-xxl;
    width: 100%;
    border-radius: $br-lg;
    margin-bottom: $spacer-md;
    margin-top: $spacer-lg;


    &--is-open {
        background-color: $neutrals-100;
    }

    &--is-closed {
        background-color: transparent;
    }
}

.why-choose__accordion__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: start;
}

.why-choose__accordion__text {
    text-align: start;
}