// Paddings:
$p-xs: 4px;
$p-sm: 8px;
$p-md: 12px;
$p-lg: 16px;
$p-xl: 20px;
$p-xxl: 24px;

// Spacers:
$spacer-xs: 12px;
$spacer-sm: 16px;
$spacer-md: 24px;
$spacer-lg: 32px;
$spacer-xl: 36px;
$spacer-xxl: 48px;

// Border radius:
$br-xs: 4px;
$br-sm: 6px;
$br-md: 8px;
$br-lg: 12px;
$br-xl: 16px;
$br-xxl: 24px;
$br-full: 999px

