// Font families
$font-primary: 'Axiforma', 'Arial', 'Helvetica',
sans-serif;

// Font sizes
$font-size-40: 40px;
$font-size-36: 2.250rem;
$font-size-32: 2.000rem;
$font-size-29: 1.812rem;
$font-size-26: 1.625rem;
$font-size-23: 1.438rem;
$font-size-20: 1.250rem;
$font-size-18: 1.125rem;
$font-size-16: 1.000rem;
$font-size-14: 0.875rem;
$font-size-13: 0.812rem;

// Font weights
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

// Line heights
$line-height-base: 100%;
$line-height-xsm: 120%;
$line-height-sm: 122%;
$line-height-md: 125%;
$line-height-lg: 132%;
$line-height-xlg: 137%;
$line-height-xxlg: 146%;

// Letter spacings
$letter-spacing--2-4: -0.864px;
$letter-spacing--2-2: -0.704px;
$letter-spacing--2: -0.52px;
$letter-spacing--1-6: -0.32px;
$letter-spacing--1-1:-0.198px;
$letter-spacing--0-8: -0.144px;
$letter-spacing--0-6: -0.096px;
$letter-spacing--0-4: -0.056px;
$letter-spacing-0: 0px;


// Map => Text Styles
$text-styles: 

// Headline
  ('headline-lg': (size: $font-size-40, wight: $font-weight-bold, line-height:$line-height-sm, letter-spacing:$letter-spacing--2-4),
  'headline-md': (size: $font-size-32, weight: $font-weight-semibold, line-height: $line-height-xsm, letter-spacing: $letter-spacing--2-2),
  'headline-sm': (size: $font-size-29, weight: $font-weight-bold, line-height: $line-height-md, letter-spacing: $letter-spacing--2-2),
// Title
  'title-lg': (size: $font-size-26, weight: $font-weight-medium, line-height: $line-height-sm, letter-spacing: $letter-spacing--2),
  'title-md': (size: $font-size-23, weight: $font-weight-medium, line-height: $line-height-xlg, letter-spacing: $letter-spacing--2),
  'title-sm': (size: $font-size-20, weight: $font-weight-medium, line-height: $line-height-xxlg, letter-spacing: $letter-spacing--1-6),
// Body 
  'body-lg': (size: $font-size-18, weight: $font-weight-regular, line-height: $line-height-xxlg, letter-spacing: $letter-spacing--1-1),
  'body-lg--semibold': (size: $font-size-18, weight: $font-weight-medium, line-height: $line-height-xsm, letter-spacing: $letter-spacing--0-8),
  'body-lg--bold': (size: $font-size-18, weight: $font-weight-semibold, line-height: $line-height-xsm, letter-spacing: $letter-spacing--0-8),

  'body-md': (size: $font-size-16, weight: $font-weight-regular, line-height: $line-height-xxlg, letter-spacing: $letter-spacing--0-8),
  'body-md--semibold': (size: $font-size-16, weight: $font-weight-medium, line-height: $line-height-xsm, letter-spacing: $letter-spacing--0-6),
  'body-md--bold': (size: $font-size-16, weight: $font-weight-semibold, line-height: $line-height-xxlg, letter-spacing: $letter-spacing--0-6),
  
  'body-sm': (size: $font-size-14, weight: $font-weight-regular, line-height: $line-height-lg, letter-spacing: $letter-spacing--0-4),
  'body-sm--bold': (size: $font-size-14, weight: $font-weight-semibold, line-height: $line-height-xsm, letter-spacing: $letter-spacing--0-4),
// Label 
  'label': (size: $font-size-13, weight: $font-weight-regular, line-height: $line-height-xsm, letter-spacing: $letter-spacing--0-4),
  'label--bold': (size: $font-size-13, weight: $font-weight-medium, line-height: $line-height-md, letter-spacing: $letter-spacing--0-4),
);

// Mixin -> text styles
@mixin text-style($style-name) {
  $style: map-get($text-styles, $style-name);

  @if $style {
    font-size: map-get($style, size);
    font-weight: map-get($style, weight);
    line-height: map-get($style, line-height);
    letter-spacing: map-get($style, letter-spacing);
  }

  @else {
    @warn "Style `#{$style-name}` not found on `$text-styles` :(";
  }
}

.text-headline-1 {
  @include text-style('headline-lg');
}

.text-headline-2 {
  @include text-style('headline-md');
}

.text-headline-3 {
  @include text-style('headline-sm');
}

.text-title-1 {
  @include text-style('title-lg');
}

.text-title-2 {
  @include text-style('title-md');
}

.text-title-3 {
  @include text-style('title-sm');
}

.text-body-large {
  @include text-style('body-lg');
}

.text-body-large--semibold {
  @include text-style('body-lg--semibold');
}

.text-body-large--bold {
  @include text-style('body-lg--bold');
}


.text-body-medium {
  @include text-style('body-md');
}

.text-body-medium--semibold {
  @include text-style('body-md--semibold');
}

.text-body-small {
  @include text-style('body-small');
}

.text-label {
  @include text-style('label');
}

.text-label {
  @include text-style('label--bold');
}