@import "../1-base/colors";

// Mixins
@mixin reset {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Axiforma', Arial, Helvetica, sans-serif;
        color: $text-500;
    }

    a {
        text-decoration: none;
    }

    li {
        list-style: none;
    }

    img {
        max-width: 100%;
        height: auto;
        vertical-align: middle;
        font-style: italic;
        background-size: scale-down;
        background-repeat: no-repeat;
        shape-margin: 1rem;
    }
}

.section-title {
    margin-bottom: 40px;
}