  .container {
    max-width: 1250px;
    margin: auto;
  }

@media (min-width: 863px) {
  .container {
    padding: 0 60px;
  }
}

@media (max-width: 862px) {
  .container {
    padding: 0 40px;
  }
}

@media (max-width: 792px) {
  .container {
    padding: 0 32px;
  }
}

@media (max-width: 494px) {
  .container {
    padding: 0 20px;
  }
}


@media (max-width: 380px) {
  .container {
    padding: 0 20px;
  }
}


.section-spacer {
    margin-bottom: 120px;
}