// Breakpoints
$breakpoint-lg: 863px;
$breakpoint-md: 740px;
$breakpoint-sm: 494px;
$breakpoint-xs: 380px;


  
  .container {
    max-width: 1250px;
    margin: auto;
  }



@media (min-width: 495px) {
  .container {
    padding: 20px 32px;
  }
}

@media (max-width: 494px) {
  .container {
    padding: 20px 20px;
  }
}


@media (max-width: 380px) {
  .container {
    padding: 20px 20px;
  }
}


.section-spacer {
    margin-bottom: 120px;
}