// Breakpoints
$breakpoint-lg: 863px;
$breakpoint-md: 740px;
$breakpoint-sm: 494px;
$breakpoint-xs: 380px;


  
  .container {
    max-width: 1250px;
    margin: 0 auto;
  }

  .section-spacer {
    margin-bottom: 5.5rem;

}

.section-spacer--md {
  margin-bottom: 2rem;
}


